@import '~include-media/dist/include-media';

$uni-width-wide: 62rem;

$uni-width-large: 90%;

$uni-width-medium: 75%;

$uni-width-small: 100%;

$main-blue: #4285f4;

/*반응형 디자인 시 참조할 구간*/
$breakpoints: (small: 576px, medium: 855px, large: 1225px, wide: 1400px);