
@import 'styles/util';

.writingform-wrapper{
    width: 37rem;
    margin: auto;
    margin-top: 3rem;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 2rem 1rem;

    h2 {
        text-align: center;
    }

    .WritingForm {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        font-size: 1rem;

        button {
            margin: auto;
            margin-top: 2rem;
            width: 10rem;
            padding:15px 0;
            font-size: 1rem;
            background-color: $main-blue;
            border: 2px solid transparent;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            border: none;
            cursor: pointer;

            &:hover{

            }
        }
    }
}