
@import 'styles/util';

.SelectBox {
    position: relative;
    display: inline-block; 
    width: 8rem;
    font-size: 0.9rem;

    & + & {
        margin-left: 5px;
    }

    .selectBtn{
        width: 100%;
        display: inline-block;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        padding: 10px 1rem;
        text-align: center;
        cursor: pointer;

        &:hover {
            border: 1px solid $main-blue;
        }
    }
}